body{
  margin: 0;
  padding: 10px;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1{
	padding: 10px 0;
	font-size: 18px;
	font-weight: normal;
	color: #444;
	border-bottom: 1px solid #ccc;
	margin: 0 0 20px;
	text-transform:capitalize;
}